#stats-section {
  background: url('images/carousel-1.jpg') no-repeat center center/cover;
  position: relative;
  color: #111111;
}

.stats-section .overlay {
  background-color: rgba(0, 64, 32, 0.5); 
  width: 100%;
  height: 100%;
}

#stats-section h2 {
  font-size: 3rem;
  font-weight: 700;
}

.stats-section p {
  font-size: 1.2rem;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .stats-section h2 {
    font-size: 2.2rem;
  }
  .stats-section p {
    font-size: 1rem;
  } */
}


/*** Service ***/
 .service-item {
    position: relative;
    text-align: center;
}

 .service-item .service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1; 
 }

.service-item .service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    transform: scale(1.2);
    transition: .3s;
    z-index: -1;
} 

.service-item:hover .service-img img {
    transform: scale(1);
}

.service-item .service-text {
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(155, 184, 178, 0.08);
    border: 1px rgb(93, 85, 85);
    transition: .3s;
} 

.service-item:hover .service-text {
    background: rgba(134, 242, 190, 0.6);
}

.service-item .service-text h4,
.service-item .service-text p {
    transition: .3;
}

.service-item:hover .service-text h4 {
    color: #FFFFFF;
}

.service-item:hover .service-text p {
    color: var(--light);
}

.service-item .service-text .btn-square {
    width: 100px;
    height: 100px;
    background: transparent;
    transition: .5s;
}

.service-item:hover .service-text .btn-square {
    background: var(--light);
}

.service-item:hover .service-text .btn {
    width: 112px;
} 

#Quote-section{
    background-image: url(images/carousel-2.jpg);  no-repeat /cover;
  position: relative; 
  color: #fff;

}
#portfolio-flters {
    display: inline-block;
    background: var(--light);
    padding: 10px 15px;
}

.portfolio-inner .portfolio-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 3;
    opacity: 0;
}

.footer-section {
  background-color: #0d3b2e; /* Dark green */
}

.footer-section h5 {
  color: #fff;
}

.footer-section p, 
.footer-section li {
  color: #d9e6dd;
  font-size: 1rem;
  margin-bottom: 8px;
}

.footer-section ul li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-section ul li:hover {
  color: #7cd17f;
}

.social-icon {
  color: #fff;
  font-size: 1.2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 8px;
  transition: 0.3s;
}

.social-icon:hover {
  background-color: #198754;
  border-color: #198754;
  color: #fff;
}

/* Responsive text size */
@media (max-width: 767px) {
  .footer-section {
    text-align: center;
  }
  .social-icon {
    margin: 0 auto;
  }
}

